@import "../../scss/variables";

.expenses-exact-table {

  margin: 0 auto;
  width: 100%;
  text-align: center;
  @media(max-width: 850px) {
    border-spacing: 5px;

  }

  th {
    text-transform: uppercase;
    font-size: .7rem;
    color: #636363;
  }

  td {
    font-size: .6rem;
    color: #636363;
    text-transform: uppercase;


  }


}

.expenses-update {
  display: flex;
  align-items: center;
}

.expenses-delete {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .delete {

    color: $projectNavyColor;
    font-size: 1.3rem;


    &:hover {
      color: $projectOrangeColor;
      transform: scale(1.1);
    }
  }
}