@import "../../scss/variables";

.expenses-container {
  padding: 20px;
  @media(max-width: 850px) {
    padding: 10px;
  }

  .search-bar {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    @media(max-width: 850px) {
      margin-bottom: 0;
    }

    .search-icon {
      margin-left: 35px;
      font-size: 3rem;
      color: $projectNavyColor;
      position: absolute;
      right: 10%;
      top: 45%;
      transform: translateY(-50%);
      @media(max-width: 850px) {
        font-size: 4rem;
      }
    }

    .expenses-datepicker {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-top: 3px solid $projectOrangeColor;
      background: $orangeBackgroundGradient;
      margin-bottom: 20px;
      @media(max-width: 850px) {
        justify-content: flex-start;
        margin-bottom: 0;
      }

      .my-datepicker {
        align-items: center;
        display: flex;
        width: 30%;
        @media(max-width: 850px) {
          width: 70%;
          margin-bottom: 20px;

        }

        &:first-child {
          margin-right: 25px;

        }

        p {
          margin-right: 20px;
          color: $projectNavyColor;
          font-weight: bolder;
        }
      }

    }

  }

  .chart-browser-section {
    display: flex;
    flex-wrap: wrap;
    //flex-direction: row-reverse;
    //justify-content: space-around;
    @media(max-width: 850px) {
      flex-direction: column-reverse;
    }

    .chart-section {
      width: 45%;
      padding: 20px;
      @media(max-width: 850px) {
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
      }

    }

    .browser-section {
      width: 45%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      @media(max-width: 850px) {
        width: 90%;
      }

      .add-section {
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: $projectNavyColor;
        letter-spacing: 1px;
        //border: 1px solid $projectOrangeColor;
        background-color: $tableCellBackgroundColor;

        .add-icon {
          font-size: 2rem;
          margin-left: 20px;
        }

        &:hover {
          background-color: $projectOrangeColor;
          color: #fff;
          transition: .3s;
          box-shadow: none;
        }

      }

      .search-section {
        margin-top: 15px;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $tableCellBackgroundColor;


        label {
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 10px;
          color: $projectNavyColor;
        }

        select {
          padding: 10px;
          width: 90%;
          text-align-last: center;
          text-transform: uppercase;
          color: $projectNavyColor;
          font-size: 1rem;
          letter-spacing: 1px;
          background-color: $projectOrangeColor;


        }

        &:hover {
          transition: .3s;

        }

      }
    }
  }


}