@import url("https://cdn.syncfusion.com/ej2/material.css");
@import "../../scss/variables";

.income-container {
  padding: 40px 20px;

  .search-bar {
    border: 1px solid red;
    margin-bottom: 30px;
  }

  .chart-table-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    .income-table {
      width: 45%;
      padding: 20px;
      @media(max-width: 850px) {
        width: 100%;
      }
    }

    .income-chart {
          width: 45%;
      padding: 20px;
      @media(max-width: 850px) {
        width: 100%;

      }

    }
  }
}