@import "../../scss/variables";

.income-table-exact {
  border-spacing: 10px;
  border: 2px solid green;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  th{
    text-transform: uppercase;
    color:#636363;
  }

  td {
    background-color: rgba(220, 217, 217, 0.29);
    padding: 10px;
    font-size: 1.3rem;
    color: #636363;
  }


}