@import url("https://cdn.syncfusion.com/ej2/material.css");
@import "../../scss/variables";

.income-container {
  padding: 20px;
  @media(max-width: 850px) {
    padding: 10px;
  }

  .search-bar {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    @media(max-width: 850px) {
      margin-bottom: 0;
    }

    .search-icon {
      margin-left: 35px;
      font-size: 3rem;
      color: $projectNavyColor;
      position: absolute;
      right: 10%;
      top: 45%;
      transform: translateY(-50%);
      @media(max-width: 850px) {
        font-size: 4rem;
      }
    }

    .income-datepicker {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-top: 3px solid $projectOrangeColor;
      background: $orangeBackgroundGradient;
      margin-bottom: 20px;
      @media(max-width: 850px) {
        justify-content: flex-start;
        margin-bottom: 0;
      }

      .my-datepicker {
        align-items: center;
        display: flex;
        width: 30%;
        @media(max-width: 850px) {
          width: 70%;
          margin-bottom: 20px;

        }

        &:first-child {
          margin-right: 25px;

        }

        p {
          margin-right: 20px;
          color: $projectNavyColor;
          font-weight: bolder;
        }
      }

    }

  }
  .no-data{
    padding: 30px;
    text-align: center;
    font-size: 1.5rem;
    .simple-button{
      width: 130px;
      a{
        font-size: 1rem;
      }
    }
  }

  .chart-table-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    .income-table {
      width: 45%;
      //padding: 20px;
      flex-direction: column;
      @media(max-width: 850px) {
        width: 100%;
        padding: 0;
                margin-top: 20px;
      };

    }

    .income-chart {
      //overflow: hidden;
      //border: 2px solid red;
      width: 45%;
      padding: 20px;


      @media(max-width: 850px) {
        width: 100%;


      };

      .apexcharts-legend {
        .apexcharts-legend-text {
          font-size: 0.8rem !important;
        }

        .apexcharts-legend-marker {
          width: 8px !important;
          height: 8px !important;
        }
      }

      .apexcharts-canvas {
        text {
          font-size: 1rem;
        }
      }

    }
  }
}