$projectOrangeColor:#e78200;
$projectNavyColor: #092aa5;
$lightGrayFieldsColor: #525050;
$darkGrayFieldsColor: #3e3c3c;
$fieldsBackgroundColor: rgba(231, 130, 0, 0.53);
$projectBoxShadow:0px 0px 11px 1px #636363;